@font-face { font-family:'Josefin sans'; src: url("../../font/JosefinSans-Regular.ttf")
    format('truetype'); } 
@font-face { font-family:'Josefin sans-B'; src: url("../../font/JosefinSans-Bold.ttf")
    format('truetype'); }
@font-face{font-family:'hi' src url("../../font/Glegoo-Bold.ttf")
    format('truetype');}
