/* news.css */



#newsBox{width:100%; height:100%;  box-sizing: border-box;}


.news_kind>li:nth-child(1){display:block;}
.news_kind>li:nth-child(2){display:none;}
.news_kind>li:nth-child(3){display:none;}

.m_story{width:100%; height:auto;   display:none;}
.m_story .back_btn{position:absolute; top:93px; left:0; width:48px; height:48px; background-color:#fff; text-align:center; cursor: pointer;}

.story_content{ padding:0 3rem 0 3rem; box-sizing:border-box; width:100%; height:100%;}
.story_content .story_left_top{position:absolute; top:93px; left:47px; width:585px;}
.story_content .story_right_bottom{float:right; width:50%;}
.story_img img{width:100%; height:auto;}

.story_content .story_img{width:100%;}
.story_content .story_text{font-size:20px;}

.story_text{padding-left:1rem; box-sizing:border-box; font-size:15px;}
.reporter_info .r_name{float:left; cursor: default;}
.reporter_info>li{float:right; margin-right:20px; cursor: pointer;}


.reporter_info{padding:0 1rem 0 1rem; box-sizing:border-box;  float:left; font-size:20px; width:100%; height:48px; color:#fff; 
    background-color:#dd1111; line-height:48px;}
    


.main_news{width:70%; float:left; margin-bottom:3rem; cursor: pointer;}
.main_news li:nth-child(1){float:left; width:50%;}
.main_news li:nth-child(2){float:left; width:50%; padding:1rem; box-sizing:border-box;}
.main_news .img img{width:100%; height:100%; border:0.3rem solid #dd1111; box-sizing:border-box;}
          
      
.advertisement{float:right; width:30%; cursor:pointer;}
.advertisement img { }

.sub_news{float:left; margin-top:2rem; width:100%; height:auto;}
.sub_news li{float:left; width:25%; margin-bottom:2rem; }
.sub_news li:hover .img_s img{opacity:0.5;}
.sub_news li:nth-last-child(1){margin-bottom:3rem;}
          
.sub_news .date{margin:auto; width:350px; color:#dd1111; font-size:20px; font-weight:bold; cursor:pointer; }
.sub_news .img_s{margin:auto; width:350px; height:210px; background-color:#000; cursor:pointer;}
.sub_news .post_s{margin:auto; padding:0.5rem; box-sizing:border-box; width:350px; height:80px; color:#000; font-size:20px; font-weight:bold; cursor:pointer; } 
.sub_news .img_s img{width:100%; height:100%; border:0.2rem solid #dd1111; box-sizing:border-box; }
               
        
            