@media screen and (max-width:1850px){
    .sub_news li{width:33.33333333%;}
   
    
    
}

@media screen and (max-width:1350px){
    #contentBox{width:calc(100% - 200px);}
    #footBox .foot_right{width:calc(100% - 200px);}
    
    .main_news li:nth-child(1){float:none; width:100%;}
    .main_news li:nth-child(2){float:none; width:90%;}
    .main_news .img img{width:90%; height:90%;}

    .sub_news li{width:50%;}
    .sub_news .img_s{width:350px; height:210px;}
    .sub_news .date{width:350px;}
    .sub_news .post_s{width:350px;}

    .sub_news li{margin-bottom:0;}
    .main_news{margin-bottom:0;}
}

@media screen and (max-width:1410px){
    .main_news li:nth-child(1){float:left; width:50%;}
    .main_news li:nth-child(2){float:left; width:50%;}
    .main_news .img img{width:100%; height:100%;}
    .advertisement{display:none;}
    .main_news{width:100%;}
    .sub_news li{margin-bottom:0;}

}

@media screen and (max-width:1410px) and (min-width:1351px){
    .sub_news .img_s{width:280px; height:168px;}
    .sub_news .date{width:280px;}
    .sub_news .post_s{width:280px;}
    .sub_news li{margin-bottom:0;}

    
}

@media screen and (max-width:1000px){
    .sub_news .img_s{width:280px; height:168px;}
    .sub_news .date{width:280px;}
    .sub_news .post_s{width:280px;}
}

@media screen and (max-width:1080px){
    .post{font-size:20px;}
    .sub_news .post_s {font-size:18px;}
}